@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #142143;
  background-image: url(assets/images/shapes.png);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
}

.video-container video {
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .start {
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 10px;
}
